<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreeyPix</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Proyek citra/style/welcome.css">
   
</head>
<body>
    <div class="header">
        <h2>GreeyPix</h2>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/add_gambar">Tambah Gambar</a>
        </div>
    </div>
    <div class="container">
        <div class="images">
            <div class="image-container image-before">
                <img src="/Proyek citra/img/image-before.jpg" alt="Gambar contoh greyscale">
            </div>
            <div class="image-container image-after">
                <img src="/Proyek citra/img/image-after.jpg" alt="Gambar contoh greyscale">
            </div>
        </div>
        <div class="text-section">
            <h1>WELCOME TO <br><strong>GreeyPix</strong></h1>
            <p>Dengan GreeyPix, Anda dapat mengabadikan momen dalam skala keabuan</p>
            <a href="/Proyek citra/view/add.html"><button class="btn">Get Started</button></a>
    </div>
</div>
<script src="/script/welcome.js"></script>
</body>
</html>