<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontrol Zoom</title>
    <link rel="stylesheet" href="../style/result.css">
</head>
<body>
    <h2>Kontrol Zoom Gambar</h2>

    <div class="zoom-controls">
        <button onclick="zoomIn()">Perbesar</button>
        <button onclick="zoomOut()">Perkecil</button>
        <button onclick="resetZoom()">Reset</button>
    </div>

    <div class="image-container">
        <img id="zoom-image" src="../web/static/uploads/images.jpg" alt="Hasil Gambar">
    </div>

    <script src="../script/result.js"></script>
</body>
</html>